@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.filter .btn-outline-primary:hover {
  background-color: #1d4ed8;
  color: #fff;
}

.carousel-item img {
  height: 462px;
  filter: brightness(50%);
}
.movie .card {
  border: none;
}
.card-body .btn {
  background-color: #a0a3bd1a;
  border-radius: 18px;
  margin: 0 8px 0 0;
}
.overlay {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.card img {
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}
.overlay:hover img {
  cursor: pointer;
  filter: brightness(60%);
}
.overlay-button {
  opacity: 0;
  width: 80%;
  position: absolute;
}
.overlay:hover .overlay-button {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.overlay-button .detail {
  display: flex;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 7px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.overlay-button .detail:hover {
  display: flex;
  text-decoration: none;
  color: #2563eb;
  border: 1px solid #2563eb;
}
.overlay-button .btn {
  width: 100%;
  height: 50px;
}
.recomended {
  display: none;
  position: absolute;
  top: 8px;
  left: -4px;
  width: 45%;
  border-radius: 20px;
  background-color: #1d4ed8;
  text-align: center;
  color: white;
}

.subscribe {
  height: 318px;
  background-color: #1d4ed8;
}
.subscribe form input {
  background-color: #2563eb;
}

footer ul {
  margin-top: 18px;
  list-style: none;
  padding: 0;
}
footer ul li {
  margin-top: 12px;
}

footer ul li a {
  text-decoration: none;
  color: black;
}
footer ul li a:hover {
  text-decoration: none;
  color: #1d4ed8;
}

@media screen and (max-width: 768px) {
  .carousel-item img {
    height: 402px;
  }

  .subscribe {
    height: 538px;
  }
  .subscribe form {
    width: 90%;
  }

  .footer__item ul {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
  }
}
